# Norgolith static binary
/lith

# Norgolith build artifacts
/.build

# Production artifacts
/public

# Sync scripts
deploy.sh

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

