{% extends "base.html" %}
{% block title %}Category: {{ category }}{% endblock title %}
{% block content %}
<div>
  <h1>Posts in {{ category }}</h1>
  <p class="text-lg"><i>All the posts with the category "{{ category }}"</i></p>
  <hr class="text-base-alt mt-6 lg:mt-8" />
  <ul class="mt-6 lg:mt-8">
    {% for post in posts %}
      {% if category in post.categories %}
        <li>
          <a class="font-mono text-xl no-underline! hover:underline! hover:decoration-dashed" href="{{ post.permalink }}">{{ post.title }}</a>
          <time class="text-grey text-sm italic"> on <strong>{{ post.created | date(format="%B %e, %Y") }}</strong></time>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock content %}
