<!DOCTYPE html>
<html lang="{{ config.language }}">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock title %} - {{ config.title }}</title>
    {% endblock head %}
</head>
<body>
    <div id="content">
        {{ content | safe }}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright {{ now(format="%Y") }} by {{ config.author }}.
        {% endblock footer %}
    </div>
</body>
</html>
