<nav x-data="menu" class="container mx-auto px-4 md:px-0 font-mono">
  <div class="flex items-center justify-between h-16">
    <!-- Logo and dark mode -->
    <div x-data="theme" class="flex items-center shrink-0">
      <a href="/" class="flex items-center space-x-2">
        <!-- <img src="{{ config.rootUrl }}/assets/norgolith.svg" alt="Norgolith Logo" class="h-8 w-8"> -->
        <span class="text-xl font-bold text-text">{{ config.title | title }}</span>
      </a>
      <button
        @click="toggle()"
        type="button"
        class="ml-2 md:ml-4 rounded-lg transition-colors flex items-center"
        :aria-label="current === 'dark' ? 'Switch to light mode' : 'Switch to dark mode'"
      >
        <i x-show="current === 'light'" class="ti ti-moon text-2xl text-grey hover:text-blue"></i>
        <i x-show="current === 'dark'" class="ti ti-sun text-2xl text-grey hover:text-yellow"></i>
      </button>
    </div>

    <!-- Desktop Menu -->
    <div class="hidden md:flex md:items-center md:space-x-8">
      {% for name, link in config.extra.nav %}
      <a
        :class="{ 'text-blue!': currentPage.startsWith('{{ link }}') }"
        class="text-text-alt hover:text-blue px-3 py-2 rounded-md text-sm font-medium"
        href="{{ link }}"
      >{{ name | title }}</a>
      {% endfor %}
    </div>

    <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button @click="toggleMobile" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-dark-grey hover:text-text-alt focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <!-- Hamburger Icon -->
        <svg x-show="!openMobile" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
        <!-- Close Icon -->
        <svg x-show="openMobile" class="h-6 w-6 text-red" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div x-show="openMobile" @click.outside="openMobile = false" class="md:hidden" id="mobile-menu">
    <div class="flex flex-row items-center justify-between px-2 pt-2 pb-3 space-y-1 sm:px-3">
      {% for name, link in config.extra.nav %}
      <a
        :class="{ 'text-blue!': currentPage.startsWith('{{ link }}') }"
        class="text-text-alt hover:text-blue px-3 py-2 rounded-md text-sm font-medium"
        href="{{ link }}"
      >{{ name | title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
