<!DOCTYPE html>
<html lang="{{ config.language }}">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    {% if metadata.description %}
    <meta name="description" content="{{ metadata.description }}" />
    {% endif %}
    {% if metadata.author %}
    <meta name="author" content="{{ config.author }}" />
    {% endif %}
    {% if metadata.categories %}
    <meta name="keywords" content="{{ metadata.categories | join(sep=", ") }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# Highlight.js #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {# User-defined styling #}
    <link rel="stylesheet" href="/assets/style.css" />
    <title>{% block title %}{% endblock title %} - {{ config.title | title }}</title>
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright {{ now(format="%Y") }} by {{ config.author }}.
        {% endblock footer %}
    </div>
</body>
</html>
